@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/heder-scrol';

@import './base/common';
@import './base/container';

@import './components/logo';
@import './components/modal-window';
@import './components/modal-form';
@import './components/title';

@import './layout/heder';
@import './layout/hero';
@import './layout/benefits';
@import './layout/services';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio';
