// .benefits-list {
//   // display: flex;
//   .item {
//     width: 100%;
//     // width: 270px;
//     &:not(:last-child) {
//       margin-right: 30px;
//     }
//   }
// }
.benefits-list .item::before {
  content: " ";
  display: inline-flex;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.benefits-list .item:nth-child(1)::before {
  background-image: url(../images/svg/antenna.svg);
}
.benefits-list .item:nth-child(2)::before {
  background-image: url(../images/svg/clock.svg);
}
.benefits-list .item:nth-child(3)::before {
  background-image: url(../images/svg/diagram.svg);
}
.benefits-list .item:nth-child(4)::before {
  background-image: url(../images/svg/astronaut.svg);
}

.benefits-title {
  margin-bottom: 10px;

  color: $title-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefit-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .benefits-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    .item {
      margin: 15px;
      width: calc((100% - 60px) / 2);
    }
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list .item {
    width: calc((100% - 120px) / 4);
  }
}
