.service-list {
  display: flex;
  &-item {
    position: relative;
    width: 370px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.service-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.service-link {
  display: block;
}
.service-img {
  display: block;
}
